@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist Sans", Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 224 0% 100%;
    --foreground: 224 0% 10%;
    --card: 224 0% 100%;
    --card-foreground: 224 0% 15%;
    --popover: 224 0% 100%;
    --popover-foreground: 224 95% 10%;
    --primary: 224 64.3% 32.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 20% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 186 10% 95%;
    --muted-foreground: 224 0% 40%;
    --accent: 186 10% 90%;
    --accent-foreground: 224 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 224 0% 100%;
    --border: 224 20% 82%;
    --input: 224 20% 95%;
    --ring: 224 64.3% 32.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 224 10% 10%;
    --foreground: 224 0% 100%;
    --card: 224 0% 10%;
    --card-foreground: 224 0% 100%;
    --popover: 224 10% 5%;
    --popover-foreground: 224 0% 100%;
    --primary: 224 64.3% 32.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 186 10% 25%;
    --muted-foreground: 224 0% 65%;
    --accent: 186 10% 25%;
    --accent-foreground: 224 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 224 0% 100%;
    --border: 224 20% 50%;
    --input: 224 20% 50%;
    --ring: 224 64.3% 32.9%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*:focus {
  outline: 1px solid hsl(224 64.3% 32.9%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-inner-scroll::before,
  .shadow-inner-scroll::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1rem;
    pointer-events: none;
    z-index: 10;
    transition: opacity 0.3s;
  }

  .shadow-inner-scroll::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
  }

  .shadow-inner-scroll::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
  }

  .shadow-inner-scroll.scroll-top::before {
    opacity: 0;
  }

  .shadow-inner-scroll.scroll-bottom::after {
    opacity: 0;
  }
}
